<header>
  <h1>{{ contenu.page.header.title }}</h1>
  <h2>{{ contenu.page.header.subtitle }}</h2>
</header>
<blockquote>
  <p>{{ contenu.page.header.block }}</p>
</blockquote>
<a [href]="contenu.page.link!.url" target="_blank" class="btn orange" [title]="contenu.page.link!.title"
  *ngIf="contenu.page.link">{{ contenu.page.link!.title }}</a>
<!-- Article -->
<article *ngIf="contenu.page.article">

</article>
<!-- Liste de contenus -->
<article *ngIf="contenu.page.list">
  <div *ngFor="let l of contenu.page.list">
    <h3>{{ l.title }}</h3>
    <p *ngFor="let p of l.p">{{ p }}</p>
  </div>
</article>
<article>
  <h2>Proposer votre candidature</h2>
  <form (submit)="go(f)" #f="ngForm">
    <div>
    <label><strong>Votre nom complet *</strong>
    <input name="nom" [(ngModel)]="candidature.nom" required></label>
    <label><strong>Un email valide *</strong>
    <input name="email" [(ngModel)]="candidature.email" required></label>
    <label><strong>téléphone ? *</strong>
    <input name="tel" [(ngModel)]="candidature.tel"></label>
    <label>Indiquez votre adresse
    <input name="adresse" [(ngModel)]="candidature.adresse"></label>
    <label>Code postal
    <input name="codePostal" [(ngModel)]="candidature.codePostal"></label>
    <label>Ville
    <input name="ville" [(ngModel)]="candidature.ville"></label>
    <p><em>* Champs obligatoires</em></p>
  </div>
  <div>
    <h3>Parlez-nous de vous</h3>
    <label>Êtes-vous intéressé par des outils pour la nutrition ? Si oui, pourquoi ?</label>
    <textarea name="nutition" [(ngModel)]="candidature.nutrition">
    </textarea>
    <!-- <input name="nutrition" [(ngModel)]="candidature.nutrition" required>
     -->
    <label>Êtes-vous intéressé par la kinésithérapie ? Si oui, pourquoi ?</label>
    <textarea name="kine" [(ngModel)]="candidature.kine">
    </textarea>
    <!-- <input name="kine" [(ngModel)]="candidature.kine"> -->
    <label>Êtes-vous intéressé par l'optométrie ? Si oui, pourquoi ?</label>
    <textarea name="opto" [(ngModel)]="candidature.opto">
    </textarea>
  </div>
    <!-- <input name="opto" [(ngModel)]="candidature.opto"> -->
    <div class="boutons">
      <button type="reset" class="btn orange">Annuler</button>
      <button type="submit" class="btn violet">Envoyer</button>
    </div>
  </form>
</article>
