<header>
  <h1>{{ contenu.page.header.title }}</h1>
  <h2>{{ contenu.page.header.subtitle }}</h2>
</header>
<blockquote>
  <p>{{ contenu.page.header.block }}</p>
</blockquote>
<a [href]="contenu.page.link!.url" target="_blank" class="btn orange" [title]="contenu.page.link!.title"
  *ngIf="contenu.page.link">{{ contenu.page.link!.title }}</a>
<!-- Article -->
<article *ngIf="contenu.page.article">

</article>
<!-- Liste de contenus -->
<article *ngIf="contenu.page.list">
  <div *ngFor="let l of contenu.page.list">
    <h3>{{ l.title }}</h3>
    <p *ngFor="let p of l.p">{{ p }}</p>
  </div>
</article>
<article>
  <h3>Proposer votre candidature</h3>
  <form (submit)="go(f)" #f="ngForm">
    <label><strong>Votre nom complet *</strong></label>
    <input name="nom" [(ngModel)]="candidature.nom" required>
    <label><strong>Un email valide *</strong></label>
    <input name="email" [(ngModel)]="candidature.email" required>
    <label><strong>téléphone ? *</strong></label>
    <input name="tel" [(ngModel)]="candidature.tel">
    <label>Indiquez votre adresse</label>
    <input name="adresse" [(ngModel)]="candidature.adresse">
    <label>Code postal</label>
    <input name="codePostal" [(ngModel)]="candidature.codePostal">
    <label>Ville</label>
    <input name="ville" [(ngModel)]="candidature.ville">
    <p><em>* Champs obligatoires</em></p>
    <h3>Parlez-nous de vous</h3>
    <label>Êtes-vous intéressé par des outils pour la nutrition ? Si oui, pourquoi ?</label>
    <textarea name="nutition" [(ngModel)]="candidature.nutrition">
    </textarea>
    <!-- <input name="nutrition" [(ngModel)]="candidature.nutrition" required>
     -->
    <label>Êtes-vous intéressé par la kinésithérapie ? Si oui, pourquoi ?</label>
    <textarea name="kine" [(ngModel)]="candidature.kine">
    </textarea>
    <!-- <input name="kine" [(ngModel)]="candidature.kine"> -->
    <label>Êtes-vous intéressé par l'optométrie ? Si oui, pourquoi ?</label>
    <textarea name="opto" [(ngModel)]="candidature.opto">
    </textarea>

    <!-- <input name="opto" [(ngModel)]="candidature.opto"> -->
    <div>
      <button type="reset" class="btn orange">Annuler</button>
      <button type="submit" class="btn violet">Envoyer</button>
    </div>
  </form>
</article>
