<header>
  <h1>{{ contenu.page.header.title }}</h1>
  <h2>{{ contenu.page.header.subtitle }}</h2>
</header>
<blockquote>
  <p>{{ contenu.page.header.block }}</p>
</blockquote>
<a [href]="contenu.page.link!.url" target="_blank" class="btn orange"
  [title]="contenu.page.link!.title" *ngIf="contenu.page.link">{{ contenu.page.link!.title }}</a>
  <!-- Article -->
<article *ngIf="contenu.page.article">

</article>
<!-- Liste de contenus -->
<article *ngIf="contenu.page.list">
  <div *ngFor="let l of contenu.page.list">
    <h3><a [href]="l.link.url" [title]="l.link.title" *ngIf="l.link" target="_blank">{{ l.title }}</a></h3>

    <p *ngFor="let p of l.p; let i=index"><a [href]="l.link.url" [title]="l.link.title" *ngIf="l.link && i==0" target="_blank">
      <!-- <img [src]="l.image.url" [alt]="l.image.alt" *ngIf="l.image"> -->
    </a>{{ p }}</p>
  </div>
</article>
