<app-entete></app-entete>
<main>
  <section>
    <header>
      <h1>Twinkle Star for 64</h1>
      <h2>Association au service des aidants</h2>
    </header>
    <blockquote>
      <img src="assets/images/logos/logo_twinkle.png" alt="Logo de l'association Twinkle Star for 64" class="logo">
      <p>Rendre POSSIBLE l'INCLUSION SOCIALE des personnes en difficultés, en situation de handicap, de leurs aidants en
        écoutant leurs BESOINS/ en les formalisant et en construisant ENSEMBLE des SOLUTIONS INNOVANTES et EFFICACES
        alliant nouvelles technologies et Economie Sociale et Solidaire !</p>
    </blockquote>
    <a href="https://www.helloasso.com/associations/twinkle-star-for-64" target="_blank" class="btn rougeorange"
      title="Découvrir l'association">En savoir plus sur Twinkle Star</a>
    <footer>
      <nav>
        <span *ngFor="let l of pages.menus.social">
          <!-- Si lien interne -->
          <a [routerLink]="l.url" [title]="l.description" *ngIf="l.target != '_blank'">
            <img [src]="l.image" [alt]="l.alt" *ngIf="l.image">
          </a>
          <!-- Si lien externe -->
          <a [href]="l.url" [title]="l.description" [target]="l.target" *ngIf="l.target == '_blank'">
            <img [src]="l.image" [alt]="l.alt" *ngIf="l.image">
          </a>
        </span>
      </nav>
      <span *ngFor="let l of pages.menus.foot">
        <!-- Si lien interne -->
        <a [routerLink]="l.url" [title]="l.description" *ngIf="l.target != '_blank'">
          <img [src]="l.image" [alt]="l.alt" *ngIf="l.image">
          <span [ngClass]="{'hide':l.image && l.image.length > 0}">{{ l.title }}</span>
        </a>
        <!-- Si lien externe -->
        <a [href]="l.url" [title]="l.description" [target]="l.target" *ngIf="l.target == '_blank'">
          <img [src]="l.image" [alt]="l.alt" *ngIf="l.image">
          <span [ngClass]="{'hide':l.image && l.image.length > 0}">{{ l.title }}</span>
        </a>
      </span>
    </footer>
  </section>
  <section>
    <router-outlet></router-outlet>
    <footer>
      <!-- AFFICHER LES MENUS DE PIED DE PAGE -->
      <div>
        <a *ngFor="let l of pages.menus.social" [href]="l.url" [title]="l.description" [target]="l.target">
          <img [src]="l.image" [alt]="l.alt" *ngIf="l.image">
          <span *ngIf="!l.image">{{ l.title }}</span>
        </a>
        <span *ngFor="let l of pages.menus.foot">
          <!-- Si lien interne -->
          <a [routerLink]="l.url" [title]="l.description" *ngIf="l.target != '_blank'">
            <img [src]="l.image" [alt]="l.alt" *ngIf="l.image">
            <span [ngClass]="{'hide':l.image && l.image.length > 0}">{{ l.title }}</span>
          </a>
          <!-- Si lien externe -->
          <a [href]="l.url" [title]="l.description" [target]="l.target" *ngIf="l.target == '_blank'">
            <img [src]="l.image" [alt]="l.alt" *ngIf="l.image">
            <span [ngClass]="{'hide':l.image && l.image.length > 0}">{{ l.title }}</span>
          </a>
        </span>
      </div>
      <div>
        <a *ngFor="let l of pages.menus.partners" [href]="l.url" [title]="l.description" [target]="l.target">
          <img [src]="l.image" [alt]="l.alt" *ngIf="l.image">
          <span *ngIf="!l.image">{{ l.title }}</span>
        </a>
      </div>
    </footer>
  </section>
</main>
