<header>
  <h1>Enquête & bêta-tests</h1>
  <h2>Vous pouvez vous engager dans le projet et en savoir plus sur demain.</h2>
</header>
<blockquote>
  <p>{{ contenu.page.header.block }}</p>
</blockquote>
<a href="https://forms.gle/jAPypvuW9735QtvK9" target="_blank" class="btn orange" title="Questionnaire des bêta-testeurs">Questionnaire des bêta-testeurs</a>
<!-- Article -->
<article>
  <p>L'application sera disponible à l'essai dans quelques mois. En attendant, nous mettons en oeuvre une opération pour recueillir vos remarques et commentaires sur les fonctionnalités que nous avons imaginées et celles que nous n'imaginons pas encore.</p>
  <h3>Vous souhaitez participer, être acteurs du projet ?</h3>
  <p>Cliquez sur le lien et remplissez le formulaire d'enquête. C'est la première étape. Nous compilerons toutes les remarques qui auront été faites et ferons évoluer l'application dans votre sens.</p>
  <h3>Et ensuite ?</h3>
  <p>Dans la prochaine étape, nous organiserons des groupes de tests dans lesquels nous interviewerons de futurs utilisateurs pour obtenir leurs commentaires en direct sur les fonctionnalités et l'ergonomie de Tiaki.</p>
  <p>Quelques mois plus tard, enfin, l'application verra le jour et sera mise à votre disposition.</p>
</article>
